doctype html
html(lang="es")
    head
        link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="./public/css/app.css")
    body
        section(class="Layout")
            section(class="Layout-antagonist")
                - var clase = "Card--antagonist"
                each card in [1,2,3,4,5]
                    include ./lib/card/template.jade
            section(class="Layout-main")
                div(class="Layout-status") left
                div(class="Layout-battle")
                    div(class="Layout-battleColumn")
                        div(class="Layout-battleRow")
                            each card in [1,2,3,4,5]
                                include ./lib/card/template.jade
                        div(class="Layout-battleRow")
                            each card in [1,2,3,4,5]
                                include ./lib/card/template.jade
                        
                div(class="Layout-phases") right
            section(class="Layout-player")
                - var clase = "Card--player"
                each card in [1,2,3,4,5]
                    include ./lib/card/template.jade
