doctype html
html(lang="es")
    head
        link(rel="stylesheet", href="./public/app.css")
    body
        section(class="Layout")
            section(class="Layout-antagonist")
                each card in [1,2,3,4,5]
                    include ./lib/card/template.jade
            section(class="Layout-main")
                div(class="Layout-status") left
                div(class="Layout-battle") center
                div(class="Layout-phases") right
            section(class="Layout-player")
                each card in [1,2,3,4,5]
                    include ./lib/card/template.jade
