section(class="Layout")
    section(class="Layout-antagonistDeck") my deck
    section(class="Layout-batle")
        div(class="Layout-status") left
        div(class="Layout-status") center
        div(class="Layout-status") right
    section(class="Layout-playerDeck") my deck 