section(class="Layout")
    section(class="Layout-antagonist")
        - clase = "Card--antagonist"
        each card in [1,2,3,4,5]
            include ../card/template.jade
    section(class="Layout-main")
        div(class="Layout-status")
            - name = "Computer"
            include ../status/template.jade
            - name = "Player"
            include ../status/template.jade

        div(class="Layout-battle")
            div(class="Layout-battleColumn")
                - clase = ""
                div(class="Layout-battleRow")
                    each card in [1,2,3,4,5]
                        include ../card/template.jade
                div(class="Layout-battleRow")
                    each card in [1,2,3,4,5]
                        include ../card/template.jade
                
        div(class="Layout-phases")
            - text = "Ohhh! que buen ataque, le bajaste 345 puntos"
            include ../phase/template.jade


    section(class="Layout-player")
        - clase = "Card--player"
        each card in [1,2,3,4,5]
            include ../card/template.jade