div(class="Card "+clase)
    div(class="Card-container")
        h3(class="Card-name") Wolverine
        img(src="./public/images/wolverine.jpg", width="120", class="Card-image")
        div(class="Card-description") Wolverine es muy poderoso
        div(class="Card-attack") Ataque | 500
    div(class="Card-backface") 
        
