test(color = red)
    border 1px solid color
    box-sizing border-box

body
    margin 0
    // background-color #B0DBC4
    background-image url('../images/city.jpg')
    background-size cover
.Layout
    display flex
    flex-direction column
    min-height 100vh
    justify-content space-between
    > *
        margin 10px 
        test()
    &-main
        display flex
        test(green)
        justify-content space-between
        padding .5em
    &-status
    &-phases
        width 200px
        padding .5em
        test(orange)
    &-battle
        flex 1
        test(purple)
        padding .5em
        margin 0 .5em
        -webkit-perspective 400
        -webkit-perspective-origin-y top
        &Column
            test()
            margin .5em
            background url('../images/pattern.jpg')
            transform rotateX(10deg)
            transform-origin top
            display flex
            flex-direction column
            justify-content space-between
            padding .5em
        &Row
            justify-content space-between
            display flex
    &-antagonist
        test(brown)
        display flex
        justify-content center
        > *
            test()
            margin 10px
            padding .5em
    &-player
        test(black)
        display flex
        justify-content center
        > *
            test()
            margin 10px
            padding .5em
            


.Card
    test()
    padding .5em
    border 5px solid #675F6E
    border-radius .5em
    background #8E4F3D
    width 150px
    box-shadow 0 0 10px rgba(black,.5)