test(color = red)
    border 1px solid color
    box-sizing border-box

color-borders = #675F6E



@import "./card/styles.styl"
@import "./phase/styles.styl"
@import "./layout/styles.styl"
@import "./status/styles.styl"

body
    margin 0
    background-color #B0DBC4
    background-image url('../images/city.jpg')
    background-size cover
    font-family "Open Sans"

            





        

