.Status
    border-bottom 5px solid color-borders
    padding .5em
    background rgba(white,.5)
    position relative
    z-index 1
    &-name
        margin 0 1em 0 0
        border-radius 0 .5em .5em 0
        background red
        color white
        padding .5em
    &-life
        font-size 2em
        margin .5em 0 0
        font-weight bold
        text-align center